<div id="topbar" style="display:none;">
      <span class="baritem" style="background:rgb(105,127,158);color:rgb(150,165,187);"><a href="#tops">FOLLOW BIAS</a></span>
      <div id="correction_label"></div>
      <span class="baritem" style="background:rgb(211,113,136);left:50%;"><div class="nav_group" align="right">
				<a href="#tops">Home</a><a href="#results">Why</a><a href="#about">About</a><a href="#improve">Data</a><%= link_to "Logout", signout_path %>
      </div></span>
      <a class="brand">
        <span class="men" id="topbar_men"></span>
        <img src="/img/followbias-goggles.svg" style="height:60px;"/>
        <span class="women" id="topbar_women"></span>
      </a>
</div u>

<div id="corner_nav" class="appearonload">
  <a href="#results">Why</a>
  <a href="#about">About</a>
  <a href="#improve">Improve Your Data</a>
  <%= link_to "Logout", signout_path %>

</div>


<div id="followbias">
  <div id="scroll_tops"></div>
  <div id="foreground">
    <div class="contents">
			<h1 id="chapter_one" class="chapter">Episode 1 &mdash; Gender</h1>
			<h2 id="personal_see" class="subheading">On Twitter, who does <%=current_user.screen_name%> follow?</h2>
    </div>
  </div>
  <div id="background" class="appearonload">
        <div id="men_percent"><span class="value"></span><span class="value_label">men</span></div>
        <div id="women_percent"><span class="value"></span><span class="value_label">women</span></div>
        <div id="bots_percent"><span class="value"></span><span class="value_label">brands, bots, and more</span></div>
        <img id="main_glasses" src="/img/followbias-goggles.svg"/>
  </div>
</div>

<div class="container" id="content">

  <% if @current_user.post_survey.nil?%>
    <%= render "post_survey"%>
  <% end %>
    <%= render "shh"%>

<!--  <div class="row" id="friends">
    <div class="section">
			<h2>How do my friends compare?</h2>
			<hr/>
    </div>
  
  </div> -->

  <div class="row" id="data_explanation">
     
    <div class="section">
			<h2 id="scroll_results">Understanding Your FollowBias</a></h2>
			<hr/>
      <p>On social media, each of us chooses exactly who we listen to for news, science, gossip, and casual conversation. These choices filter and bias the information we consume, even if it's unintentional. When we share or retweet content, we pass our FollowBias to our own networks.</p>
      <p>Taking control of our filters starts with awareness. FollowBias calculates the gender diversity of who you choose to follow. It accesses the public list of accounts you follow and estimates gender based on first name. You can return anytime to see how your FollowBias has changed; our server updates every six hours.</p>
      <p>FollowBias only collects public information that you reveal on your public Twitter profile. You can close your account anytime by following these <a href="https://support.twitter.com/articles/76052-connecting-or-revoking-third-party-applications">instructions on revoking third party access</a>. If you have any further questions about our use of public data, please <a href="#about">contact us</a>.</p>
    </div>
    <div class="section"> 
      <h2>Why FollowBias?</h2>
       <hr/>
       <p>We, along with so many people we admire, care about including and listening to more women. We built FollowBias to understand and manage the impact of our filters on the content we create, consume and share.</p>
       <p>Gender bias is a sensitive subject, but it ought not be a shameful one. Who can claim that they can't do better? Our goal is to provide a tool to help individuals change their own behavior, not to shame or judge others. Given how wildly Twitter use varies a FollowBias score out of context is not a judgment of you as a person.</p>
       <p>Future versions of FollowBias will offer more metrics, recommendations, and the chance to compare yourself to peers. With your feedback and help, we can build a tool that supports diversity based on what works. Thanks for participating! <a href="https://github.com/c4fcm/fbserver/issues/new">Please add bug reports to Github</a>.</p>
       </p>
    </div>
  
  </div>

  <div class="row" id="about_followbias">
    <div class="section">
 		  <h2 id="scroll_about">About FollowBias</h2>
      <p><a href="https://twitter.com/natematias">J. Nathan Matias</a> and <a href="https://twitter.com/dearsarah">Sarah Szalavitz</a> met at the MIT Media Lab in 2012 and discovered they shared some of the same crazy dreams about <a href="http://civic.mit.edu/blog/natematias/women-news-and-the-internet-almost-everything-we-know">measuring and changing</a> <a href="http://www.wired.co.uk/magazine/archive/2012/04/ideas-bank/sarah-szalavitz">gender diversity</a> in the media. A few months later, we managed to convince <a href="https://twitter.com/jameshome">James Home</a> to contribute to the project, who has made the project even more spectacular.</p>
      <p>J. Nathan Matias is a grad student at the MIT Media Lab Center for Civic Media, advised by <a href="https://twitter.com/ethanz">Ethan Zuckerman</a>. Nathan collaborates on technology and communities which empower people to become <a href="http://hypatia.media.mit.edu:3000/">more creative, effective, and informed</a>.</p>
      <p>Sarah Szalavitz is the CEO of 7Robot, a social design firm.  She also serves as a fellow at the MIT Media Lab, where she teaches <a href="http://web.media.mit.edu/~asetapen/MAS964/">Social Design</a>. Sarah is fascinated by the impossible, eager for more data, convinced by behavioral economics, and hopes to help people ask better questions.</p>
      <p>James Home is a product designer who works on mysterious things at Google.</p>
      <p>Email us at <strong><a href="mailto:followbias@gmail.com">followbias@gmail.com</a></strong> with questions about FollowBias, <a href="http://source.mozillaopennews.org/en-US/articles/under-hood-open-gender-tracker/">Open Gender Tracker</a>, Skirts on a Panel, and our other projects focused on gender diversity.</p>
      <hr/>
    </div>
  </div>

  <div class="row" id="help">
    <div class="section">
			<h2 id="scroll_improve">Improve Your Data</h2>

       <!-- current placeholder for the recommendations system -->
       <p>Change who you follow:</p>
       <div align="center" id="recommendation_container"></div>
       <!-- end recommendations system -->

      <hr/>
      <p>Improve the accuracy of your FollowBias by correcting the gender of the accounts you follow. Your corrections will improve all FollowBias data!</p>
      <p><strong>Please be sensitive to people's privacy</strong> by only revealing information that's already public. <strong>If the person you follow doesn't identify as male or female</strong> please do not reveal their gender. For those who prefer not to divulge or identify otherwise, please label those accounts as "brands, bots, &amp; more."</p>
      <p>Gender is more complex than male and female, although the birth data behind our algorithm only recognizes those categories. Balancing privacy with the nuances of identity is challenging; we encourage your feedback and recommendations.</p>
      <p>Here are examples of our gender estimations. Click "start corrections" to review everyone you follow. If the wrong category is highlighted, click the correct one to change it.</p>
      <p>Thank you in advance for your help and sensitivity!</p>

      <div class="label_row">
				<div class="label gender_label Male"><span class="value"></span> Men</div>
				<div class="label gender_label Female"><span class="value"></span> Women</div>
				<div class="label gender_label Unknown"><span class="value"></span> Brands, Bots, and More</div>
				<div class="label gender_label Omit"><span class="value"></span> Omitted</div>
      </div>
      <div id="accounts_page"></div>

<!--      <div class="correct_account">
				<img src="http://twimg0-a.akamaihd.net/profile_images/53907183/P1000090_normal.jpg"/>
        <span class="account">
			    <span class="name">dearsarah</span>
					<a class="screen_name" href="https://twitter.com/dearsarah">@dearsarah</a> 
        </span>
        <span class="corrections">
					<div class="correction m">M</div>
					<div class="correction f">F</div>
					<div class="correction b selected">B</div>
					<div class="correction x">X</div>
       </span>
			</div>-->

      <div align="center" id="start_corrections"><a class="btn">start corrections</a></div>
    </div>
  </div>

</div>

<!-- TEMPLATES -->

<script id="corrections_paragraph" type="text/template">
      <p><strong>INSTRUCTIONS</strong>: Right now, we're trying to improve our data quality, and you can help by fixing any miscategorized followers below. You'll see your own score get more accurate as you work. Just click on the correct category.</p>
</script>

<script id="corrections_progress_label" type="text/template">
 loaded {{= visible}}<br/> of {{=total_following}}
</script>

<script id="correct_account_template" type="text/template">
	<div class="correct_account" data-id="{{=account.uuid}}">
    <a href="https://twitter.com/intent/user?user_id={{=account.uuid}}" onclick="follow_bias.clicked_corrections_screen_name('{{=account.screen_name}}');"><img src="{{=account.profile_image_url}}" width="48" height="48"/></a>
		<span class="account">
			<span class="name">{{=account.name}}</span>
			<a class="screen_name" href="https://twitter.com/intent/user?user_id={{=account.uuid}}" onclick="follow_bias.clicked_corrections_screen_name('{{=account.screen_name}}');">@{{=account.screen_name}}</a>
		</span>
		<span class="corrections">
			<div class="correction Male {{if(account.gender=="Male"){ }}selected{{ } }}" data-gender="Male">M</div>
			<div class="correction Female {{if(account.gender=="Female"){ }}selected{{ } }}" data-gender="Female">F</div>
			<div class="correction Unknown {{if(account.gender=="Unknown"){ }}selected{{ } }}" data-gender="Unknown">B</div>
			<div class="correction Omit" data-gender="Omit">X</div>
      {{if(account.gender=="Female"){  }}
			  <div class="suggestion {{=account.selected}}">&#10030;</div>
      {{ }else{ }}
        <div class="suggestion none">&#10030;</div>  
      {{ } }}
	 </span>
	</div>
</script>

<script id="recommended_account_template" type="text/template">
  <div class="correct_account recommendation">
    <a href="https://twitter.com/intent/user?user_id={{=uuid}}" onclick="follow_bias.clicked_suggestions_screen_name('{{=screen_name}}');"><img src="{{=profile_image_url}}" width="48" height="48"/></a>
    <span class="account">
      <span class="name">{{=name}}</span>
      <a class="screen_name" href="https://twitter.com/intent/user?user_id={{=uuid}}"onclick="follow_bias.clicked_suggestions_screen_name('{{=screen_name}}');">@{{=screen_name}}</a>
    </span>
  </div>
</script>

<script type="text/javascript" language="Javascript">
  var followbias_screen_name = "<%=current_user.screen_name%>";
</script>

