<%= render "qualtrics_survey"%>

<div id="topbar" style="display:none;">
      <span class="baritem" style="background:rgb(105,127,158);color:rgb(150,165,187);"><a href="#tops">FOLLOW BIAS</a></span>
      <div id="correction_label"></div>
      <span class="baritem" style="background:rgb(211,113,136);left:50%;"><div class="nav_group" align="right">
				<a href="#tops">Home</a><a href="#results">Results</a><a href="#about">About</a><a href="#improve">Data</a><%= link_to "Logout", signout_path %>
      </div></span>
      <a class="brand">
        <span class="men" id="topbar_men"></span>
        <img src="/img/followbias-goggles.svg" style="height:60px;"/>
        <span class="women" id="topbar_women"></span>
      </a>
</div u>

<div id="corner_nav" class="appearonload">
  <a href="#results">Your Results</a>
  <a href="#about">About</a>
  <a href="#improve">Improve Your Data</a>
  <%= link_to "Logout", signout_path %>

</div>


<div id="followbias">
  <div id="scroll_tops"></div>
  <div id="foreground">
    <div class="contents">
			<h1 id="chapter_one" class="chapter">Episode 1 &mdash; Gender</h1>
			<h2 id="personal_see" class="subheading">On Twitter, who does <%=current_user.screen_name%> see?</h2>
    </div>
  </div>
  <div id="background" class="appearonload">
        <div id="men_percent"><span class="value"></span><span class="value_label">men</span></div>
        <div id="women_percent"><span class="value"></span><span class="value_label">women</span></div>
        <div id="bots_percent"><span class="value"></span><span class="value_label">brands &amp; bots</span></div>
        <img id="main_glasses" src="/img/followbias-goggles.svg"/>
  </div>
</div>

<div class="container" id="content">

  <% if @current_user.post_survey.nil?%>
    <%= render "post_survey"%>
  <% end %>

<!--  <div class="row" id="friends">
    <div class="section">
			<h2>How do my friends compare?</h2>
			<hr/>
    </div>
  
  </div> -->

  <div class="row" id="data_explanation">
     
    <div class="section">
			<h2 id="scroll_results">Understanding Your Results</a></h2>
			<hr/>
       <p>On social media, we each choose who to listen to for news, opinion, and conversation. Those choices influence what we see, what we miss, and what our biases are. When we share or retweet content, we pass our biases to others.</p>
      <p>FollowBias estimates the gender diversity of the voices you pay attention to on Twitter. It accesses the public list of accounts you follow and guesses their genders based on name. Check back anytime to see how your FollowBias has changed; our server updates it every six hours.</p>
      <p>What's the gender ratio of Twitter overall? <a href="http://civic.mit.edu/blog/natematias/women-news-and-the-internet-almost-everything-we-know#socmedia">Studies disagree</a>. By participating in this study, you are improving research on gender online.</p>
      <p>FollowBias only collects public information that you reveal on your public Twitter profile. You can close your account anytime by following these <a href="https://support.twitter.com/articles/76052-connecting-or-revoking-third-party-applications">instructions on revoking third party access</a>. If you have any further questions about our use of public data, please <a href="#about">contact us</a>.</p>
    </div>
  
  </div>

  <div class="row" id="about_followbias">
    <div class="section">
 		  <h2 id="scroll_about">About FollowBias</h2>
      <p>Thanks for participating in the testing period of FollowBias! <a href="https://github.com/c4fcm/fbserver/issues/new">Please add bug reports to Github</a>.</p>
      <p>FollowBias is a collaboration by <a href="https://twitter.com/natematias">J. Nathan Matias</a>, <a href="http://twitter.com/dearsarah">Sarah Szalavitz</a>, and <a href="https://twitter.com/jameshome">James Home</a>. It's part of <a href="http://hypatia.media.mit.edu:3000/">Nathan's work at the MIT Media Lab</a> to expand how we measure and change gender diversity in the media. It's part of Sarah's efforts toward <a href="http://www.wired.co.uk/magazine/archive/2012/04/ideas-bank/sarah-szalavitz">gender diversity in technology and social media</a>.</p>
      <p>Email us at <strong><a href="mailto:followbias@gmail.com">followbias@gmail.com</a></strong> with questions about FollowBias, <a href="http://source.mozillaopennews.org/en-US/articles/under-hood-open-gender-tracker/">Open Gender Tracker</a>, and our other projects focused on gender diversity.</p>
      <hr/>
    </div>
  </div>

  <div class="row" id="help">
    <div class="section">
			<h2 id="scroll_improve">Improve Your Data</h2>
      <hr/>
      <p>Improve the accuracy of your FollowBias by correcting the gender of the accounts you follow. Your corrections update everyone's FollowBias. <strong>Please be sensitive to people's privacy</strong> by only revealing information that's already public.</p>
      <p>Gender is more complex than male and female, although the birth data behind our algorithm only recognizes those categories.</p>
      <p><strong>If the person you follow doesn't identify as male or female</strong>, leave it alone or label them a bot. It's not your place to reveal their gender. We wish there were a better way to balance privacy with nuances of identity.</p>
      <p>Here are examples of our gender guesses. Click "start corrections" to review everyone you follow, starting with accounts that our algorithm may have gotten wrong:</p>

      <div class="label_row">
				<div class="label gender_label Male"><span class="value"></span> Men</div>
				<div class="label gender_label Female"><span class="value"></span> Women</div>
				<div class="label gender_label Unknown"><span class="value"></span> Brands &amp; Bots</div>
				<div class="label gender_label Omit"><span class="value"></span> Omitted</div>
      </div>
      <div id="accounts_page"></div>

<!--      <div class="correct_account">
				<img src="http://twimg0-a.akamaihd.net/profile_images/53907183/P1000090_normal.jpg"/>
        <span class="account">
			    <span class="name">dearsarah</span>
					<a class="screen_name" href="https://twitter.com/dearsarah">@dearsarah</a> 
        </span>
        <span class="corrections">
					<div class="correction m">M</div>
					<div class="correction f">F</div>
					<div class="correction b selected">B</div>
					<div class="correction x">X</div>
       </span>
			</div>-->

      <div align="center" id="start_corrections"><a class="btn">start corrections</a></div>
    </div>
  </div>

</div>

<!-- TEMPLATES -->

<script id="corrections_paragraph" type="text/template">
      <p><strong>INSTRUCTIONS</strong>: Right now, we're trying to improve our data quality, and you can help by fixing any miscategorized followers below. You'll see your own score get more accurate as you work. Just click on the correct category.</p>
</script>

<script id="corrections_progress_label" type="text/template">
 loaded {{= visible}}<br/> of {{=total_following}}
</script>

<script id="correct_account_template" type="text/template">
	<div class="correct_account" data-id="{{=account.uuid}}">
		<img src="{{=account.profile_image_url}}" width="48" height="48"/>
		<span class="account">
			<span class="name">{{=account.name}}</span>
			<a class="screen_name" href="https://twitter.com/{{=account.screen_name}}">@{{=account.screen_name}}</a>
		</span>
		<span class="corrections">
			<div class="correction Male {{if(account.gender=="Male"){ }}selected{{ } }}" data-gender="Male">M</div>
			<div class="correction Female {{if(account.gender=="Female"){ }}selected{{ } }}" data-gender="Female">F</div>
			<div class="correction Unknown {{if(account.gender=="Unknown"){ }}selected{{ } }}" data-gender="Unknown">B</div>
			<div class="correction Omit" data-gender="Omit">X</div>
	 </span>
	</div>
</script>

<script type="text/javascript" language="Javascript">
  var followbias_screen_name = "<%=current_user.screen_name%>";
</script>
